:host {
  display: block; // height set by js
}

.la-gallery {
  height: 100%;

  transition: transform 0.5s 0.4s;

  :host.fold-is-open > & {
      /* on mobile - translate .cd-main content to the right when the .cd-folding-panel is open */
    transform: translateX(100%);
    transition: transform 0.5s 0s;

    @media only screen and (min-width: 600px) {
      transform: translateX(600px);
    }

    @media only screen and (min-width: 1100px) {
      /* reset style - on bigger devices we translate the gallery items */
      transform: translateX(0);
    }
  }

  &:before {
    /* this is the dark layer covering the .la-gallery when the .cd-folding-panel is open */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 23, 38, 0.6);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
    content: "";

    :host.fold-is-open > & {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s 0s, visibility 0s 0s;
    }
  }

  &:after {
    clear: both;

    display: table;

    content: "";
  }
}

.la-gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;

  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  cursor: pointer;

  /* Force Hardware Acceleration */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s 0.4s;

  @media only screen and (min-width: 1100px) {
    float: left;

    width: 50%;
    height: 50%;

    transition: transform 0.5s 0.4s;
  }

  &:nth-of-type(1) {
    background-color: #363558;
  }

  &:nth-of-type(2) {
    background-color: #544173;
  }

  &:nth-of-type(3) {
    background-color: #dadcdc;
  }

  &:nth-of-type(4) {
    background-color: #65d29b;
  }

  &.dark-text {
    color: #363558;
  }

  :host.fold-is-open & {

    @media only screen and (min-width: 1100px) {
      transition: transform 0.5s 0s;
      transform: translateX(-400px);
    }

    &:nth-of-type(2n) {

      @media only screen and (min-width: 1100px) {
        transform: translateX(400px);
      }
    }
  }
}

.la-gallery__item__title,
.la-gallery__item__intro {

  @media only screen and (min-width: 1100px) {
    transform: translateY(30px);

    transition: transform 0.3s 0.1s;
  }

  .la-gallery__item:hover > & {

    @media only screen and (min-width: 1100px) {
      transform: translateY(0);

      transition: transform 0.3s 0s;
    }
  }
}

.la-gallery__item__title {
  font-size: 2.2rem;

  @media only screen and (min-width: 1100px) {
    font-size: 3rem;
  }
}

.la-gallery__item__intro {
  padding: 1em 0;

  line-height: 1.2;
  font-size: 1.4rem;

  opacity: 0.6;

  @media only screen and (min-width: 1100px) {
    font-size: 1.6rem;
  }
}

.la-gallery__item__cta {
  display: inline-block;
  padding: 1em 1.3em;
  border: 1px solid #ffffff;
  border-radius: 50em;

  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media only screen and (min-width: 1100px) {
    transform: translateY(20px);

    opacity: 0;

    transition: opacity 0.3s 0s, transform 0.3s 0s;
  }

  .dark-text > & {
    border-color: #363558;
  }

  .la-gallery__item:hover > & {

    @media only screen and (min-width: 1100px) {
      transform: translateY(0);

      opacity: 1;

      transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
    }
  }
}
